
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.menu{
    margin-top: 5px;
}
.logout
{
    float: right;
    margin-top: -15px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
li a:hover
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: red;
}
a:active
{
    text-decoration: none;
    color: green;
}
#side{
   /*margin-top: 15px;*/
}
.menu .aside{
    width: 100%;
}
.header {
    background-color: rgb(0,51,153);
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :rgb(102,102,153);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
}
.menu li:hover {
    background-color: rgb(153,153,204);
    text-decoration: none;
}

#sides{
   margin-top: 5px;
}
#ulist
{
    width: 100%;
    text-decoration: none;
}
.aside {
    background-color: rgb(0,153,0);
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: rgb(0,0,0);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.login{
 margin:auto;
 left:0px;
 top:0px;
 background:rgb(113,113,113);
 display:block;
 width:50%;
 margin-top:5px;
/* font-family: "Segoe UI", sans-serif;*/
 font-size:15px;
 padding:7px;
 text-shadow:1px 1px 1px #C0C0C0;
 border:none;
 box-shadow:0px 0px 0px 0px;
 cursor:pointer;
 transition: all 0.9s ease 0s;
 }
.login:hover
   {
background:rgb(182,182,182);
border-radius:10px;
box-shadow:0px 0px 0px ;
font-weight: bold;
color: rgb(113,113,113);
 }
 /*image  -------------------------*/
 #img1
 {
    width: 170px;
    height: 200px;
    margin-top: 5px;
 }
 #side .aside ul li a{
    text-decoration: none;
    color: white;
 }
 .aside ul li
 {
     list-style-type: none;
   // display:inline-block;
    padding-left: 2px;
 }
 #side .aside ul{
    padding: 5px;
    display:inline-block;
    margin-right: 0px;
 }